{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>Listing: {{ listing.title.capitalize }}</h2>
    
    {% if listing.category != None %}
        <h2>Category: {{ listing.category }}</h2>
    {% endif %}
    <img src="{{ listing.img_url }}" alt="Picture not available" style='max-height: 32rem;'>
    <h3>Highest bid currently: ${{ listing.top_bid }}</h3>
    {% if user.is_authenticated %}
        <form action="">

        </form>
    {% endif %}
    <h4>Seller: {{ listing.creator }}</h4>
    {% if user.is_authenticated and listing not in user.watchlist.all %}
        <form action="{% url 'add-watchlist' listing=listing.id %}" method='post'>
            {% csrf_token %}
            <button>Add to your watchlist</button>
        </form>
    {% endif %}

{% endblock %}