{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>Watchlist:</h1>
    <ul>
    {% for listing in watchlist %}
        <li>
            <a href="{% url 'listing_page' id=listing.id %}">
                <h3>{{ listing.title }}</h3>
                {% if listing.img_url != None %}
                    <img src="{{ listing.img_url }}" alt="Image not available">
                {% endif %}
                <h3>${{ listing.top_bid }}</h3>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}